
.google-map-field-tokenbuiler {
  margin-bottom: 15px;
}

.google-map-field-tokenbuilder-map {
  float: left;
  width: 320px;
}

.google-map-field-tokenbuilder-fields {
  float: left;
}

#google_map_field_selector {
  height: 250px;
  width: 300px;
}
